.container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  grid-gap: 20px;
}

.leftOffset {
  width: 294px;
}

@media screen and (max-width: 1378px) {
  .container {
    grid-template-columns: auto auto;
  }
  .leftOffset {
    display: none;
  }
}